body {
  background-image: url("https://scrimba.com/articles/content/images/2022/11/image-1.png");
  font-family: sans-serif;
  margin:0;
  padding-bottom:0;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
header{
  background-color: rgb(0, 0, 0);
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#eee;
  padding: 0;
  font-size: 35px;
  margin: 0;
}
nav{
  background-color:#da1f1f ;
  color:#862d46;
  text-align: center;
  padding: 5px 0;
  transition: color 0.2s ease;
}
.a{
text-decoration: none;
color: rgb(235, 238, 45);
}
a:hover{
  text-decoration: none;
  color: orange;
}
li{
  display: inline-block;
  margin-right: 20px;
}
ul{
 list-style: none;
}
#hh1 {
text-align: center;
height: 60px;
font-size: 40px;
}
#h{
  text-align: center;
  height: 60px;
  font-size: 40px;
  text-align: center;
  color: palevioletred;
  background-color: azure;
  padding:15px;
  margin:100px;
  margin-top: 14px;
  margin-bottom: 14px;
  border-radius: 35px;
}
h4{
color:rgb(77, 14, 160);
font-size: 18px;
}
footer{
  background-color: black;
  bottom:0px;
  height: 50px;
  font-size: 15px;
  padding-left: 20px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#eee; 
  width:100%;
  position: fixed;
}
.foot{
  display: inline;
  margin:0;
  padding-bottom: 0;
}
#quiz-container{
  border: 4px solid #ccc;
  padding: 20px;
  margin: 20px auto;
  width: 500px;
  height: auto;
  background-color: rgb(217, 248, 248);
  margin-bottom: 100px;
}
#numques{
  color:#da1f1f;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}
#next-question {
  background-color:  #008000;
  width: 65px; ;
  height:45px;
  color: aqua;
  border-radius: 30%;
  font-size: 15px;
  margin-left:435px;
  margin-top: 15px;
  margin-bottom: auto;
}
#next-question:hover {
  background-color:  #b51fda;
}
#question {
  margin: 10px;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 19px;
}command:workbench.action.debug.selectandstart

#options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
    
}
#options input[type="radio"] {
  display: none;
}
#options input[type="radio"]:checked + label {
  background-color: #d170ee;

}
#options label {
  text-align: center;
  cursor: pointer;
  padding: 5px;
  border: 1px solid #ddd;
  text-align: center;
  border-radius:15%;
  display: flex;;
}
#options label:hover{
  text-decoration: none;
  color: rgb(255, 0, 76);
  background-color: #dddddda2;
}
#feedback {
  margin-top: 10px;
  font-style: italic;
 
}
#score1 {
  margin-top: 10px;
  text-align: right;
  font: 1.15em sans-serif;
  color: rgb(150, 13, 34);
}
#score-value {
  font-weight: bold;
}